body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    width: 1000px;
    margin: 10px auto;
}

.container div.head {
    font-size: 20px;
    text-align: center;
    line-height: 12px;
}

.head p {
    font-size: 15px;
    background-color: rgb(206, 104, 76);
    color: aliceblue;
    padding: 10px;
}

.head h1 {
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(206, 104, 76);
    background-color: bisque;
    padding: 50px;
}

div.nav h3{
    line-height: 2px;
    font-weight: bold;
}

div.nav li{
    line-height: 25px;
}

a {
    text-decoration: none;
    color: blue;
}

#bold {
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(237, 195, 145);
    color: aliceblue;
    padding: 30px;
}

.main p {
    line-height: 25px;
}

.main h2 {
    line-height: 5px;
    color: rgb(206, 104, 76);
}